.container {
  background-color: #3F51B5;
  padding: 1.25em 3.125em;
  display: flex;
  flex-direction: row-reverse;

  p {
    color: #FFFFFF;
  }

  p a {
    color: #e7adad;
    text-decoration: none;
  }

}

